---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout title="Karrusel Festival">
  <!-- <h1>Karrusel Festival</h1> -->
  <img src="public/hero_img.png" alt="Herobillede" />
</MainLayout>

<style>
  img {
    width: 100%;
    position: relative;
  }

  h1 {
    position: absolute;
  }
</style>
