---
import Buttons from "../components/Buttons.astro";
import Weekticket from "../components/Weekticket.astro";
import MainLayout from "../layout/MainLayout.astro";
import "../styles/generel.css";
---

<MainLayout title="knap">
	
</MainLayout>
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="generel.css">
		<title>Astro</title>

	</head>
	<body>
		<!-- <Navigation/> -->
		<!-- <h1>Astro</h1> -->
		
		<main>
			<Buttons variant="primary" size="small">
				<!-- <img src="public/bulletpoints_icons/instagram.svg" alt=""> -->
			</Button>
			<Buttons variant="secondary" size="medium">TEXT</Button>
			<Buttons variant="third" size="large">TEXT</Button>

	</main>
	</body>
	
</html>