---
import MainLayout from "../layout/MainLayout.astro";
import Dayticket from "../components/Dayticket.astro";
import Weekticket from "../components/Weekticket.astro";
---

<MainLayout title="Tickets">
  <h1>TICKETS</h1>
  <Weekticket />
  <article class="daytickets">
    <Dayticket dato="22/8 2024" header="1 day / Thursday" />
    <Dayticket dato="23/8 2024" header="1 day / Friday" />
    <Dayticket dato="24/8 2024" header="1 day / Saturday" />
  </article>
</MainLayout>

<style>
  h1 {
    margin: auto;
    margin-bottom: 5rem;
  }

  @media (min-width: 800px) {
    .daytickets {
      display: flex;
      margin-top: 3rem;
      margin-bottom: 8rem;
      justify-content: center;
      gap: 1.7%;
    }
  }
</style>
