---
const { variant, text } = Astro.props;
---

<div class="flex">
  <div class={variant}></div>
  <h6>{text}</h6>
</div>

<style>
  .flex {
    display: flex;
    flex-direction: row;
    gap: 1.5%;
  }

  h6 {
    padding-left: 5%;
  }

  .facebook,
  .instagram,
  .spotify {
    height: 100%;
    background-size: cover;
    margin-bottom: 50px;
  }

  .map,
  .calender,
  .time {
    height: 100%;
    background-size: cover;
  }

  .facebook {
    background-image: url(/bulletpoints_icons/facebook.svg);
    aspect-ratio: 33/35;
    width: 6%;
  }

  .instagram {
    background-image: url(/bulletpoints_icons/instagram.svg);
    aspect-ratio: 35/35;
    width: 6%;
  }

  .spotify {
    background-image: url(/bulletpoints_icons/spotify.svg);
    aspect-ratio: 35/35;
    width: 6%;
  }

  .map {
    background-image: url(/bulletpoints_icons/map.svg);
    aspect-ratio: 27/35;
  }

  .calender {
    background-image: url(/bulletpoints_icons/calender.svg);
    aspect-ratio: 33/35;
  }

  .time {
    background-image: url(/bulletpoints_icons/time.svg);
    aspect-ratio: 35/35;
  }

  h6 {
    margin: 0;
  }
</style>
