---

---

<div class="flex">
  <!-- <img src="public/bulletpoints_icons/calender.svg" alt="Icon" /> -->
  <div id="icon_img"></div>
  <h6>Manegen</h6>
</div>

<style>
  .flex {
    display: flex;
    flex-direction: row;
    gap: 1.5%;
  }

  #icon_img {
    background-image: url(public/bulletpoints_icons/calender.svg);
    width: 100%;
    height: 100%;
    background-size: cover;
  }
</style>
