---
import "../styles/generel.css";
const { variant, size } = Astro.props;
---

<button class={variant + " " + size}>
  <h6>Test</h6>
  <img src="public/bulletpoints_icons/instagram.svg" alt="">
</button>
<style>
  button {
    padding-right: 29px;
    padding-left: 29px;
    /* padding-top: 48px;
    padding-bottom: 48px; */
    border-radius: 80px;
    display: flex;
    justify-content: space-between;
    gap: 61px;
  }
  button div{
    display: flex;
    justify-content: space-around;
  }




  .primary {
    font-size: 24px;
    border: none;
    background-color: var(--black_90);
    color: bisque;
    position: relative;
    border-radius: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .primary::after {
    content: "";
    position: absolute;
    height: 110%;
    width: 110%;
    border-radius: 80px;
    background-image: var(--gradientRegnbue);
    z-index: -1;
  }
  .primary:hover {
    filter: drop-shadow(0px 0px 10px yellow);
    background-color: var(--black_90);
    z-index: 1;
  }

  .secondary {
    color: #c9c9c9;
    background-color: black;
    border-color: #c9c9c9;
    font-size: 24px;
    font-family: Lato;
    font-weight: 600;
    word-wrap: break-word;
  }
  .secondary:hover {
    color: #c9c9c9;
    background-color: #2f2f2f;
    font-size: 24px;
    font-family: Lato;
    font-weight: 600;
    word-wrap: break-word;
    border: none;
  }

  .third {
    font-size: 24px;
    /* padding-left: 29px;
    padding-right: 29px;
    padding-top: 21px;
    padding-bottom: 21px; */
    /* background: black;
    border-radius: 80px;
    border: 5px dotted;
    justify-content: center;
    align-items: center;
    gap: 61px;
    color: bisque;
    background-image: var(--gradientRegnbue); */
    
    /* position: relative;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: #FFD7FC; */ */

    
    /* background-color: transparent; */
    /* border: 3px dashed yellow; */
    color: white;
    background: inherit;
    position: relative;
    border: none;
    background-color: var(--black_90);
    /* border: 3px dashed black; */
    /* border: 5px dashed white; */

    
  }
  .third::before {
      background: linear-gradient(90deg, #e501d5 0%, #ff6b00 28.5%, #fff500 36%, #65e501 76.5%, #08f7fe 99.99%);
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      margin: -3px;
      right: 0;
      top: 0;
      content: "";
      border-radius: 80px;
    }
  .third:hover{
    border: 1.8px solid white; 
    /* background-image: var(--black_90); */
    /* background-image: var(--gradientRegnbue);
     -webkit-background-clip: text; */
   /* filter: drop-shadow(0px 0px 5px yellow);  */
  }

</style>
