---
const { variant, tekst } = Astro.props;
---

<button class={variant}>
  <p>{tekst}</p>
  <img class="icon" src="public/bulletpoints_icons/calender.svg" alt="" />
</button>

<style>
  button {
    text-align: center;
    display: inline-flex;
    padding: 6px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    gap: 61px;
  }
  p {
    line-height: 0;
  }

  :hover.primary {
    border: 3px solid yellow;
  }

  .primary {
    color: white;
    background-color: black;
    border: 3px dashed yellow;
  }

  :hover.secondary {
    border: 3px solid gray;
  }

  .secondary {
    color: white;
    background-color: black;
    border: 3px dashed gray;
  }

  :hover.tertiary {
    border: 3px solid yellow;
  }

  .tertiary {
    color: white;
    background-color: black;
    border: 3px dashed yellow;
    margin: 7%;
  }

  .icon {
    width: 13%;
    height: 100%;
  }
</style>
