<footer>
  <div class="footer_1_2">
    <img src="map.svg" alt="kort" />
    <div>
      <h5>Address</h5>
      <p>Karrusel takes place at a secluded green spot in Refshaleøen in central Copenhagen.</p>
      <p>Refshalevej 193, 1432 Copenhagen</p>
      <button>Read more</button>
    </div>
  </div>
  <div class="footer_1_1_1">
    <img src="Logo_hvid.svg" alt="logo" />
    <div class="footer_iconer">
      <a href="https://www.facebook.com/Karruselfestival">
        <img src="icon_facebook2.svg" alt="icon facebook" />
      </a>
      <a href="https://www.instagram.com">
        <img src="icon_instagram2.svg" alt="icon instagram" />
      </a>
    </div>
    <div class="footer_contact">
      <h5>Contact</h5>
      <p>+45 21 21 21 21</p>
      <p>kontakt@karrusel.com</p>
    </div>
  </div>
</footer>
