---

---

<!-- Slettes når header er kodet færdig -->
<nav>
    <a href="/lineup">Lineup</a>
    <a href="/artist">Artist</a>
    <a href="/tickets">Tickets</a>
    <a href="/">Forside</a>
    <a href="/knap_test">knap_test</a>
</nav>