---
import Song from "./Song.astro";
const {song,artist,time}=Astro.props
---

<article>
  <div>
    <div>
    <img src="public/artist_img.webp" alt="Spotify coverbillede">
    <p>Acid Pauli</p>
    <p>Top Tracks</p>
    </div>
    <img src="public/bulletpoints_icons/spotify.svg" alt="Link til Spotify">
  </div>
  <div>
<Song song="The end" artist="Acid Pauli" time="8:13" variant="1"></Song>
<Song song="Ahmed" artist="Acid Pauli" time="6:48" variant="2"></Song>
<Song song="New Morning" artist="Acid Pauli" time="7:48" variant="3"></Song>
<Song song="Who Loves The Sun" artist="Acid Pauli feat Jo.Ke - Acid Pauli Let It Be Naked Remix Edit" time="3:50" variant="4"></Song>
<Song song="Good Morning" artist="Acid Pauli" time="6:02" variant="5"></Song>
</div>
</article>