---
const { number } = Astro.props;
---

<section>
  <p class={number}>1</p>
  <p class="song">hej</p>
  <p class="artist">Halløj</p>
  <p class="time">8:00</p>
</section>

<style>
  section {
    display: flex;
  }
</style>
